@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    font-family: 'Orbitron', sans-serif;
}

span{
    font-weight: bold;
}

h1{
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(122, 7, 7);
}

#series-movies{
    font-size: 20px;
    color: rgb(76, 108, 206);
}

h2{
    font-size: 2em;
    color: rgb(192, 192, 2);
}

li{
    line-height: 2;
    color: goldenrod;
}

#characters{
    font-size: 18px;
    color: rgb(89, 121, 89);
}

h4{
    letter-spacing: 15px;
    font-family: 'Press Start 2P';
}

/* BONUS */
/* Bonus 1= see top */
/* Bonus 2= see h4 */
h2,h3,h4{
    text-align: center;
}

li{
    font-size: 1rem;
}

body{
    background-image: url("starTrek.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}